{% extends 'base.html'%} 
{% block content%}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i class="fas fa-quote-right"></i></span>
            <h2>{{quote.author}}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {%for blog in blogs[::-1]%}
        <div class="post-preview">
          <a href="{{url_for('main.new_blog', id = blog.id)}}">
            <h2 class="blog-title">
              {{blog.blog_title}}
            </h2>
            <h3 class="blo-subtitle">
              {{blog.blog_content | truncate (45) | safe}}
            </h3>
          </a>
         
          <p class="post-meta">Posted by
            <a href="">{{blog.posted_at}}</a> on
            {{blog.posted_at.strftime('%B %d, %Y')}}
          </p>
        </div>
        <a href="{{url_for('main.update_blog', id=blog.id)}}">UPDATE YOUR BLOG
        <a href="{{url_for('main.make_comment', id=blog.id)}}">COMMENT
          <a href="{{url_for('main.delete_blog',id = blog.id)}}"><i class="fas fa-trash text-danger"></i>DELETE</a>
        </a>
        <hr>
       
        {%endfor%}
      </div>
      
    </div>
  </div>
{% endblock %}